{% extends "::base.html.twig" %}

{% block title %}ScrumatorBackendBundle:Poker:display{% endblock %}

{% block content %}
<h1>Bienvenue sur le Planning Poker {{app.user.username}} !</h1>

<h2>Projet : {{user_story.project.name}}</h2>

<h3>User Story : {{user_story.description}}</h3>

<h4>Utilisateurs concernés : </h4>
    <ul>
        {%for userLink in usersLink%}
            <li><span class="loupiotte"></span> {{userLink.user.username}} </li>
        {%endfor%}
    </ul>
{% endblock %}

{%block javascripts %}
    <script>
        $(document).ready(function(){
            
            function checkConnectedUsers(){
                $.ajax({
                        url: "{{path('pokerConnection')}}",
                        type:"get",
                        data:{user_id : {{app.user.id}},
                              project_id : {{user_story.project.id}}
                             }
                });
            }
            
            checkConnectedUsers();
            });
        
        
    </script>
    
{%endblock%}
