{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Modification du projet</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('project') }}">
                    Retour à la liste des projets
                </a>
            </li>
            <li>
                {{ form(delete_form) }}
            </li>
        </ul>


<div id='user-occupe'>
        <h2>Les utilisateurs pris sont :</h2>
   
        <ul>
     {% for userlk in usersProject%}
         
             <li class='occupe lkswitch' data-id='{{userlk.user.id}}'>
                 
                 <a href='#'>{{userlk.user.username}}</a> 
                 <input type="radio" name="lead" value="Définir comme lead"
                        {% if userlk.lead %} checked {% endif %}>
                 
             </li>
         
        {%endfor%}
        </ul>
</div>

<div id='user-libre'>
        <h2>Les utilisateurs libres sont :</h2>
        
            <ul>
        {% for user in libres %}
            
                <li class='libre lkswitch' data-id='{{user.id}}'> 
                    
                    <a href="#">{{user.username}}</a>
                    <input type="radio" name="lead" value="Définir comme lead">
                    
                </li>
            
        {%endfor%}
            </ul>
</div>        
    
{% endblock %}

 {%block javascripts %}
        
            <script>
                
                function callAjax(arg, action){
                    
                    
                    var dataId = arg.attr("data-id");
                   
                $.ajax({
                            url: "{{ path('switchProjectUser')}}",
                            type:"get",
                            data:{userId:dataId ,projectId:{{ entity.id }},action:action}
                            
                                })
                                
}
                
                $(".lkswitch a").click(function(){
                    if($(this).siblings('input[type="radio"]').is(':checked')){
                        alert('On ne peut pas retirer le leader du projet');
                        return false;
                    }
                    if($(this).parent().hasClass('occupe')){
                        callAjax($(this).parent(), "remove");
                        $(this).parent().removeClass('occupe').addClass('libre');
                        $("#user-libre ul").append($(this).parent());
                        return;
                    }
                    if($(this).parent().hasClass('libre')){
                        callAjax($(this).parent(), "add");
                        $(this).parent().removeClass('libre').addClass('occupe');
                        $("#user-occupe ul").append($(this).parent());
                        return;
                    }
                    });
                    
                    $(".lkswitch input").click(function(){
                        
                        
                        var lkswitch= $(this).parent();
                        console.log(lkswitch);
                        
                        var dataId = lkswitch.attr("data-id");
                        
                           $.ajax({
                               url: "{{ path('switchLead')}}",
                                type:"get",
                                data:{userId:dataId ,projectId:{{ entity.id }}}
                           })
                        
                        
                        
                    })
                        
                   
                
                
            </script>
            
        {%endblock%}