{% extends '::base.html.twig' %}

{% block content -%}
    <h1>User_stories</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Entantque</th>
                <td>{{ entity.enTantQue }}</td>
            </tr>
            <tr>
                <th>Iwant</th>
                <td>{{ entity.iWant }}</td>
            </tr>
            <tr>
                <th>Pour</th>
                <td>{{ entity.pour }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user_stories') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_stories_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
